#map {
    height:100%;
    width: 100%;
    
}
.review-wrapper{
    margin: 5px 5px 5px 5px;    
    border-top: 1px solid grey;
    padding: 5px 0px 5px 0px;
    line-height: 1;        
}
.review-author {
    font-weight: bold;
}
.review-image {
    width: 146px;
    height: 146px;
    margin: 2px;
}

