#map {
    height: 500px;
    overflow: auto;
}
.review-wrapper{
    margin: 5px 0px 5px 0px;	
    border-top: 1px dashed grey;
    padding: 5px 0px 5px 0px		
}
.review-author {
    font-weight: bold;
}
.review-image {
    width: 146px;
    height: 146px;
    margin: 2px;
}

/* geocoder styling */
#change-location-panel {
z-index: 5;
margin-left: 30px;
padding: 5px;
text-align: center;
line-height: 30px;
padding-left: 10px;
}
#change-location-text{
display: inline-block;
line-height: 0;
}
#address{
    margin-left: 5px
}